/* 01 BASIC STYLES */

body {
	max-width: 740px;
	margin: auto;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	}

p {
	font-size: 18px;
	line-height: 1.4;
	}

h1 {
	font-size: 40px;
	}

h2 {
	font-size: 32px;
	}

h3 {
	font-size: 28px;
	}

h4 {
	font-size: 24px;
	}

h5 {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.5;
	letter-spacing: .75px;
	font-weight: 500;
	}


/* 02 HEADER + CONTENT + FOOTER */

.header-content {
	margin-bottom: 80px;
	width: 100%;
	}

content {
	width: 100%;
	}

.footer-content {
	margin-top: 40px;
	}

/* unused classes:
	.main-nav
*/