/* 01 BASIC STYLES */

body {
	max-width: 740px;
	margin: auto;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	}

p {
	font-size: 16px;
	}

h1 {
	font-size: 40px;
	}

h2 {
	font-size: 32px;
	}

h3 {
	font-size: 28px;
	}

h4 {
	font-size: 24px;
	}

h5 {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: .2em;
	opacity: 0.6;
	}


/* 02 HEADER + FOOTER */
.header-content {
	float: left;
}
.main-nav {
}
.footer-content {
	margin-top: 40px;
}