<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>

  <body>
  <!-- Header -->
  
  {% include header.html %}

  <!-- Content -->

  <div class="content">

      {{ content }}

  </div> <!-- end content div -->

  <!-- Footer -->

  {% include footer.html %}

  </body>
</html>