<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
  </head>


  <body>
    <header>
      <div class="header-content">
          <h2>Recipe collection</h2>
          <p class="main-nav">
            <a href="/">Home</a> | <a href="/posts">All posts</a> | <a href="/about">About</a>
          </p>
      </div>
    </header>

    <div class="content">
      <div class="image">{{ page.image }}</div>
      <h1> {{ page.title }} </h1>
      <h5> {{ page.tags }} | {{page.date}}</h5>
      <p> {{ page.yield }} | 
      <h3>{{ page.totalTime }}</h3>

      <blockquote><em>{{ page.authorNote }}</em></blockquote>

      <blockquote>{{ page.personalNote }}</blockquote>

      <h4>Prep time <strong>{{ page.prepTime }}</strong> | 
          Hands-off time <strong>{{ page.handsoffTime }}</strong> | 
          Cook time <strong>{{ page.cookTime }}</strong> | 
          Assembly time <strong>{{ page.assemblyTime }}</strong> | 
          Reheat time <strong>{{ page.reheatTime }}</strong>
      </h4>

      <div class="ingredients">
        {{ page.ingredients }}
      </div>

      {{content}}

    </div>

    <footer>
      <div class="footer-content">
        <h5>Made with love and many mistakes by <a href="http://www.sharonbrener.com">Sharon Brener</a>.</h5>
    </footer>


  </body>
</html>
