<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>


<body>

  <!-- Header -->
  
  {% include header.html %}

  <div class="content">

  <!-- Post image -->

      {% if page.image != "" %} 
          <div class="image"><img src="/{{ page.image }}" width="720px"></div>
      {% endif %}

  <!-- Tags -->

      <h5 class="tags"> 
        {% for tag in page.tags %}
            <a href="#">{{ tag }}</a>
            {% if forloop.last != true %}
                |
            {% endif %}
        {% endfor %}
      </h5>

  <!-- Page title -->

      <h1> {{ page.title }} </h1>

  <!-- Source and yield -->

      <h3>From <strong><a href="{{ page.sourceURL }}">{{ page.source }}</a></strong> {{ page.sourceAuthor }}</h3>
      <h4>{{ page.yield }}</h4>

  <!-- Author + personal quotes -->

      <blockquote class="authorNote">{{ page.authorNote }}</blockquote>
      <blockquote class="personalNote">{{ page.personalNote }}</blockquote>

  <!-- Time breakdown -->

      <div class="time-breakdown">
        <h2>Total time <strong>{{ page.totalTime }}</strong></h2>
        <h4>
          {% if page.prepTime != "" %} 
            Prep time <strong>{{ page.prepTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.handsoffTime != "" %} 
            Hands-off time <strong>{{ page.handsoffTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.cookTime != "" %} 
            Cook time <strong>{{ page.cookTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.chillTime != "" %} 
            Chill time <strong>{{ page.chillTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.assemblyTime != "" %} 
            Assembly time <strong>{{ page.assemblyTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.reheatTime != "" %} 
            Reheat time <strong>{{ page.reheatTime }}</strong><span class="time-notlast"> | </span>
          {% endif %}
        </h4>
      </div>

  <!-- Ingredient list -->

      <div class="ingredients">
        <p>{{ page.ingredients }}</p>
      </div>

  <!-- Method as body content -->

      <div class="method">
      <h2>Method</h2>

        {{content}}
      </div>


  </div> <!-- end content div -->

    <!-- Footer -->

  {% include footer.html %}

</body>
</html>
