<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
  </head>


  <body>
    
    {% include header.html %}

    <div class="content">

      <div class="image"><img src="{{ page.image }}" /></div>
      <h1> {{ page.title }} </h1>

    <!-- Tags -->

      <h5 class="tags"> 
        {% for tag in page.tags %}
            <a href="#">{{ tag }}</a>
        {% endfor %}
      </h5>

    <!-- Source and yield -->

      <p> From <strong><a href="{{ page.sourceURL }}">{{ page.source }}</a></strong> {{ page.sourceAuthor }}
      <br /> {{ page.yield }} </p>

    <!-- Author + personal quotes -->

      <blockquote><em>{{ page.authorNote }}</em></blockquote>
      <blockquote>{{ page.personalNote }}</blockquote>

    <!-- Time breakdown -->

      <div class="time-breakdown">
        <h3>Total time <strong>{{ page.totalTime }}</strong></h3>

        <p>
          {% if page.prepTime != "" %} 
            Prep time <strong>{{ page.prepTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.handsoffTime != "" %} 
            Hands-off time <strong>{{ page.handsoffTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.cookTime != "" %} 
            Cook time <strong>{{ page.cookTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.chillTime != "" %} 
            Chill time <strong>{{ page.chillTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.assemblyTime != "" %} 
            Assembly time <strong>{{ page.assemblyTime }}</strong><span class="time-notlast"> | </span>
          {% endif %} 
          {% if page.reheatTime != "" %} 
            Reheat time <strong>{{ page.reheatTime }}</strong><span class="time-notlast"> | </span>
          {% endif %}
        </p>
      </div>

    <!-- Ingredient list -->

      <div class="ingredients">
        <p>{{ page.ingredients }}</p>
      </div>

    <!-- Method as body content -->

      <div class="method">
        {{content}}
      </div>

    </div>

    {% include footer.html %}

  </body>
</html>
